/* app/globals.css */
@import "tailwindcss";

/* Apply Vazirmatn to all elements that might contain Persian text */
.font-vazirmatn {
  font-family: var(--font-vazirmatn), system-ui, sans-serif;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: darkslateblue;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b59c4;
}
